.ContactsContainer
{
    width: 98%;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 150px 600px ;
    padding: 10px;
    position: absolute;
    top: 1800px;
}

.ContactsContainer .GetInTouch
{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.getInTouch h1 span
{
    color: black;    
}
.FindMe
{
    width: 400px;
    height: 300px;
    background-color: rgb(136, 108, 71);
    border-radius: 15px;
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: center;

}
.FindMe h2
{
    color: white;
    margin: auto;
    font-size: large;
    text-align:center;


}
.FindMe p
{
    color: white;
    margin: auto;
}
.input-text
{
    width: 400px;
    height: 300px;
    background-color: rgb(136, 108, 71);
    border-radius: 15px;
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: center;
        
     
    
}
