*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container{
  width: 100vw;
  min-height: 1000px;
  background: whitesmoke;
}

.FixedNav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #F5E8C7;
    padding: 10px 7%;
    border-radius: 50px;
    position: fixed;
    z-index: 1;
}
.FixedBody
{
  position: fixed;
  height: 600px;
}