* AboutPage.css */

.about-me
{
  max-width: 100px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  align-items: center;
  

}


.about-me p {
  font-size: 16px; /* Adjust the paragraph font size */
  font-family: helvetica;
  line-height: 1.6; /* Adjust the line height for better readability */
  color:black; /* Adjust the paragraph color */
  padding-left: 60%;
  
  
}

.AboutPicture
{
    position: absolute;
    top: 900px;
    left:10px;
    border-radius: 50%;
    width: 450px;
}

.About-Text
{
    position: absolute;
    top: 900px;
    right: 300px;
}
